div.door {
	background-color: yellow;
	margin-left: 10px;
	width: 150px;
	height: 110px;
	&.open {
		width: 30px;
		transition: width 1s ease 0s;
	}
	&.close {
		width: 150px;
		transition: width 1s ease 0s;
	}
}
